<div class ="new-brd">
    <div class="modal-header">
        <button data-dismiss="modal" class="close">×</button>
        <h3>New BRD/MRD/PRD</h3>
    </div>
    <form class="form-horizontal" id="form-add-one-requirement" action="{% url requirement_add %}" method="POST">
        {% csrf_token %}
        <div class="modal-body max-height450">
            <p></p>
            <div class="control-group">
                <label class="control-label">{{ form.type.label }}<span class="red-brd"> *</span></label>
                <div class="controls">
                    {{ form.type }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ form.product.label }}<span class="red-brd"> *</span></label>
                <div class="controls">
                    {{ form.product }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ form.version.label }}<span class="red-brd"> *</span></label>
                <div class="controls">
                    {{ form.version }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ form.status.label }}<span class="red-brd"> *</span></label>
                <div class="controls">
                    {{ form.status }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ form.author.label }}<span class="red-brd"> *</span></label>
                <div class="controls">
                    {{ form.author }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input2">{{ form.owner.label }}<span class="red-brd"> *</span></label>
                <div class="controls">
                    {{ form.owner }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ form.parent_type.label }}</label>
                <div class="controls">
                    {{ form.parent_type }}{{ form.parent_req }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ form.start_date.label }}</label>
                <div class="controls">
                    {{ form.start_date }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ form.target_date.label }}</label>
                <div class="controls">
                    {{ form.target_date }}
                </div>
            </div>
            <div class="control-group">
                <label for="input2" class="control-label">{{ form.file.label }}</label>
                <div class="controls">
                    {{ form.file }}
                </div>
            </div>
            <p></p>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary" id="submit-new-requirement">Save</a>
            <a data-dismiss="modal" class="btn close2">Close</a>
        </div>
    </form>
</div>
