<div class ="new-brd">
    <div class="modal-header">
        <button data-dismiss="modal" class="close">×</button>
        <h3>New BRD/MRD/PRD</h3>
    </div>
    <div class="modal-body max-height450">
        <p>
        <form class="form-horizontal" action="" method="POST">
            <div class="control-group">
                <label class="control-label">{{}}<span class="red-brd"> *</span></label>
                <div class="controls">
                    {{}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{}}<span class="red-brd"> *</span></label>
                <div class="controls">
                    {{}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{}}<span class="red-brd"> *</span></label>
                <div class="controls">
                    {{}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{}}<span class="red-brd"> *</span></label>
                <div class="controls">
                    {{}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{}}<span class="red-brd"> *</span></label>
                <div class="controls">
                    {{}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input2">{{}}<span class="red-brd"> *</span></label>
                <div class="controls">
                    {{}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{}}<span class="red-brd"> *</span></label>
                <div class="controls">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input2">{{}}</label>
                <div class="controls">
                    {{}}{{}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{}}</label>
                <div class="controls">
                    {{}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{}}</label>
                <div class="controls">
                    {{}}
                </div>
            </div>
            <div class="control-group">
                <label for="input2" class="control-label">{{}}</label>
                <div class="controls">
                    {{}}
                </div>
            </div>
        </form>
        <p></p>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" href="#">Save</a>
        <a data-dismiss="modal" class="btn" href="#">Close</a>
    </div>
</div>
