    <div class="content">
        <div class="pd10">
                <div class="risk-issue">
                    <h3 class="clear">Risk </h3>
                    <div class="risk-issue-list" id="risk-issue-list">
                        {% for risk in risks %}
                            <div class="line" id="{{ risk.pk }}">
                                <span>Reporter:</span> {{risk.reporter}}
                                <span>Start Date:</span> {{ risk.start_date|date:"m/d/Y" }}
                                <span>Target Date:</span> {{ risk.target_date|date:"m/d/Y" }}
                                <span>impact:</span> {{ risk.impact }}
                                <span>probability:</span> {{ risk.probability }}
                                <span>Response:</span> {{ risk.response }}
                                <span>Status:</span> {{ risk.status }}
                                <a href="#" class="ico-show-all comments-btn" title="Show all" id="on">Comment</a>
                                <a href="#" class="ico-show-all comments-btn display-none" title="Show all" id="off">Comment</a>
                                <a href="#myModal2" data-toggle="modal" class="btn btn-mini btn-success fl-right">Edit</a>
                                <p>{{ risk.description }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="pagination fl-right">
                        <ul>
                            <li class="disabled"><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li class="disabled"><a href="#">..</a></li>
                            <li><a href="#">11</a></li>
                            <li><a href="#">12</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
    <div class="tab-pane fade" id="product">
    </div>
