<div class="tab-pane active" id="risk">
    <div class="risk-issue">
        <div class="modal hide fade display-none" id="myModal2">
            <div class="modal-header">
                <button data-dismiss="modal" class="close">×</button>
                <h3>Creat</h3>
            </div>
            <div class="modal-body max-height450">
                <p>
                <form class="form-horizontal" action="" method="POST">
                    <div class="control-group">
                        <label class="control-label" for="input01">{{}}</label>
                        <div class="controls">
                            {{}}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="input01">{{}}</label>
                        <div class="controls">
                            {{}}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{{}}</label>
                        <div class="controls">
                            {{}}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{{}}</label>
                        <div class="controls">
                            {{}}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{{}}</label>
                        <div class="controls">
                            {{}}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{{}}</label>
                        <div class="controls">
                            {{}}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="input01">{{}}</label>
                        <div class="controls">
                            {{}}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="input01">{{}}</label>
                        <div class="controls">
                            {{}}
                        </div>
                    </div>
                </form>
                </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="#">Save</a>
                <a data-dismiss="modal" class="btn" href="#">Close</a>
            </div>
        </div>
        <div class="clear"><a class=" fl-right font-big" href="#myModal2" data-toggle="modal">+ Create</a></div>
        <h3 class="clear">Risk</h3>
        {% for %}
        <div class="risk-issue-list">
            <div class="line">
                <span>{{}}</span>{{}}
                <span>{{}}</span>{{}}
                <span>{{}}</span>{{}}
                <span>{{}}</span>{{}}
                <span>{{}}</span>{{}}
                <span>{{}}</span>{{}}
                <span>{{}}</span>{{}}
                <a href="#" class="ico-show-all comments-btn" title="Show all" id="on">Comment</a>
                <a href="#" class="ico-show-all comments-btn display-none" title="Show all" id="off">Comment</a>
                <a href="#myModal2" data-toggle="modal" class="btn btn-mini btn-success fl-right">Edit</a>
            </div>
            <p>{{}}</p>
        </div>
        <form class="" action="" method="POST">
            {{}}
        </form>
        {% endfor %}
    </div>
</div>
