<div class="content">
    <div class="pd10">
        <div class="risk-issue">
            <h3 class="clear">Issue</h3>
            <div class="risk-issue-list" id="issue-list">
                {% for issue in issues %}
                    {% include "track/issue/one-issue.html" %}
                {% endfor %}
            </div>
            <div class="pagination fl-right">
                <ul>
                    <li class="disabled"><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li class="disabled"><a href="#">..</a></li>
                    <li><a href="#">11</a></li>
                    <li><a href="#">12</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane fade" id="product">
</div>
