{% load widget_tweaks %}
<div class="modal-body max-height450 report-form">
    <p></p>
    <div class="control-group">
        <label class="control-label" for="input01">Reporter<h class="risk-issue-red"> *</h></label>
        <div class="controls">
            <span class="red-brd">
                {{ form.reporter.errors }}
            </span>
                {% render_field form.reporter class="input-xlarge reporter2" url=reporter_url field="username" %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="input01" >Start Date</label>
        <div class="controls">
            <span class="red-brd">
                {{ form.start_date.errors }}
            </span>
                {% render_field form.start_date class="datePicker" id=start_date_id %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Impact<h class="risk-issue-red"> *</h></label>
        <div class="controls">
            <span class="red-brd">
                {{ form.impact.errors }}
            </span>
                {% for radio in form.impact %}
                    <label class="radio inline">
                        {{ radio.tag }}{{ radio.choice_label }}
                    </label>
                {% endfor %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Mitigation<h class="risk-issue-red"> *</h></label>
        <div class="controls">
            <span class="red-brd">
                {{ form.mitigation.errors }}
            </span>
                {% for radio in form.mitigation %}
                    <label class="radio inline">
                        {{ radio.tag }}{{ radio.choice_label }}
                    </label>
                {% endfor %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Priority<h class="risk-issue-red"> *</h></label>
        <div class="controls">
            <span class="red-brd">
                {{ form.priority.errors }}
            </span>
                {% for radio in form.priority %}
                    <label class="radio inline">
                        {{ radio.tag }}{{ radio.choice_label }}
                    </label>
                {% endfor %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Status<h class="risk-issue-red"> *</h></label>
        <div class="controls">
            <span class="red-brd">
                {{ form.status.errors }}
            </span>
                {% for radio in form.status %}
                    <label class="radio inline">
                        {{ radio.tag }}{{ radio.choice_label }}
                    </label>
                {% endfor %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="input01">Target Date</label>
        <div class="controls">
            <span class="red-brd">
                {{ form.target_date.errors }}
            </span>
                {% render_field form.target_date class="datePicker" id=target_date_id %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="input01">Description<h class="risk-issue-red"> *</h></label>
        <div class="controls">
            <span class="red-brd">
                {{ form.description.errors }}
            </span>
                {% render_field form.description %}
        </div>
    </div>
    <p></p>
</div>
