{% block content %}
<body>
    <div class="content">
        <div class="pd10">
            <section>
                <div class="tab-pane active" id="issue">
                    <div class="clear">
                        <table class="eso-table product-status-report">
                            <a class=" btn fl-right" id="add-issue" url="{% url issue_add app_label module_name pk %}">+ Create</a>
                                <td class="display-none" id="new-issue">
                                </td>
                        </table>
                            <td>
                                {% include "track/issue/issue-list.html" %}
                            </td>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
{% endblock %}
