<div class="new-issue form-control">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" id="close-issue-1">×</button>
        <h3>New Issue</h3>
    </div>
    <form class="form-horizontal" id="add-issue-form" action="{% url issue_add app_label module_name report.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div id='issue-form-container'>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary" id="submit-new-issue">Save</a>
            <a class="btn close2" data-dismiss="modal" id="close-issue-2">Close</a>
        </div>
    </form>
</div>
