<div class="new-issue">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>New Issue</h3>
    </div>
    <div class="modal-body max-height450">
        <form class="form-horizontal" id="add-issue" action="{% url issue_add app_label module_name pk %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="control-group">
                <label for="input01" class="control-label">Reporter<span class="risk-issue-red"> *</span></label>
                <div class="controls">
                    <span class="red-brd">
                        {{ form.reporter.errors }}
                    </span>
                    <input type="text"  name="reporter" class="input-xlarge reporter" id="reporter" url="{{ reporter_url }}" field="username">
                </div>
            </div>
            <div class="control-group">
                <label for="input01" class="control-label">Start Date</label>
                <div class="controls">
                    <span class="red-brd">
                        {{ form.start_date.errors }}
                    </span>
                    <input class="datePicker" name="start_date" type="text" id="startDate">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Impact<span class="risk-issue-red"> *</span></label>
                <div class="controls">
                    <span class="red-brd">
                        {{ form.impact.errors }}
                    </span>
                    {% for impact in Impacts %}
                        <label class="radio inline">
                            <input type="radio" value="{{ impact.pk }}" id="impact" name="impact"> {{ impact.name }}
                        </label>
                    {% endfor %}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Mitigation<span class="risk-issue-red"> *</span></label>
                <div class="controls">
                    <span class="red-brd">
                        {{ form.mitigation.errors }}
                    </span>
                    {% for mitigation in Mitigations %}
                        <label class="radio inline">
                            <input type="radio" value="{{ mitigation.pk }}" id="mitigation" name="mitigation"> {{ mitigation.name }}
                        </label>
                    {% endfor %}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Priority<span class="risk-issue-red"> *</span></label>
                <div class="controls">
                    <span class="red-brd">
                        {{ form.priority.errors }}
                    </span>
                    {% for priority in Priorities %}
                        <label class="radio inline">
                            <input type="radio" value="{{ priority.pk }}" id="priority" name="priority"> {{ priority.name }}
                        </label>
                    {% endfor %}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Status<span class="risk-issue-red"> *</span></label>
                <div class="controls">
                    <span class="red-brd">
                        {{ form.status.errors }}
                    </span>
                    {% for status in statuss %}
                        <label class="radio inline">
                            <input type="radio" value="{{ status.pk }}" id="status" name="status"> {{ status.name }}
                        </label>
                    {% endfor %}
                </div>
            </div>
            <div class="control-group">
                <label for="input01" class="control-label">Target Date</label>
                <div class="controls">
                    <span class="red-brd">
                        {{ form.target_date.errors }}
                    </span>
                    <input class="datePicker" name="target_date" type="text" id="targetDate">
                </div>
            </div>
            <div class="control-group">
                <label for="input01" class="control-label">Description<span class="risk-issue-red"> *</span></label>
                <div class="controls">
                    <span class="red-brd">
                        {{ form.description.errors }}
                    </span>
                    <textarea name="description" id="id_description" cols="1" rows="1"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" id="submit-new-issue">Save</a>
        <a href="#" class="btn close2" data-dismiss="modal">Close</a>
    </div>
</div>