<div class="update-issue form-control">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" id="close-issue-1">×</button>
        <h3>Update Issue</h3>
    </div>
    <form class="form-horizontal" id="update-issue-form" action="{% url issue_update report.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'track/issue/issue-form-fields.html' %}
        <div class="modal-footer">
            <a class="btn btn-primary update-one-issue">Update</a>
            <a data-dismiss="modal" class="btn close2">Close</a>
        </div>
    </form>
</div>
