<div class ="new-requirement form-control">
    <div class="modal-header">
        <button data-dismiss="modal" class="close">×</button>
        <h3>New BRD/MRD/PRD</h3>
    </div>
    <form class="form-horizontal" id="add-requirement" action="{% url requirement_add %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
        </div>
        <div class="modal-footer">
            <input class="btn btn-primary" type="submit" value="Save"/>
            <input type="reset" data-dismiss="modal" class="btn close2" value="Close"/>
        </div>
    </form>
</div>
