<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="HSS UX">
<link href="{{ STATIC_URL }}images/favicon.ico" rel="shortcut icon">
<link href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.10.1.custom.min.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/jquery.treeview.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/eso-theme.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/report.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/comments.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="eso-inner">
    {% include "header.html" %}
    <div class="navbar">
        {% include "navigation.html" %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {% include "footer.html" %}
</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.1.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/modal.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/tabs.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dropdown.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/comments.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.iframe-post-form.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/HLEPM-core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/HLEPM-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/HLEPM-ajax.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/HLEPM-request.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/HLEPM-form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/HLEPM-table.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/HLEPM-init.js"></script>
</body>
{% block extra_head %}{% endblock %}
</html>
