<div class="tab-pane active" id="BRD">
    <table class="eso-table product-status-report">
        <tbody>
        <tr>
            <td colspan="10" class="pd0">
                <table id="example" class="eso-table table-striped datatable  brd-table">
                    <thead>
                        <tr>
                            <th>{{}}</th>
                            <th>{{}}</th>
                            <th>{{}}</th>
                            <th>{{}}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for %}
                    <tr>
                        <td><a href="#" class="brd">{{}}</a><a href="#" class="download"></a></td>
                        <td>{{}}</td>
                        <td>{{}}</td>
                        <td>{{}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
