<div class="new-risk form-control">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" id="close-risk-1">×</button>
        <h3>New Risk</h3>
    </div>
    <form class="form-horizontal" id="add-risk-form" action="{% url risk_add app_label module_name report.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div id='risk-form-container'>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary" id="submit-new-risk">Save</a>
            <a data-dismiss="modal" class="btn close2" id="close-risk-2">Close</a>
        </div>
    </form>
</div>
