{% load threadedcomments_tags %}

<div class="comments_length">
    <p>
    <span class="comments_count">
        {{ comment_list|length }}
    </span>
    Comments
    </p>
</div>

<div class="comments" style="display: none;">
    {% for comment in comment_list|fill_tree|annotate_tree %}{% ifchanged comment.parent_id %}{% else %}</li>{% endifchanged %}{% if not comment.open and not comment.close %}</li>{% endif %}{% if comment.open %}
    <ul class="comments_list">{% endif %}
        <li class="comment_li" id="c{{ comment.id }}">{# c## is used by the absolute URL of the Comment model, so keep that as it is. #}
        <div class="comment">
            <strong>{{ comment.user_name }}:</strong>
            <span class="time">
                {{ comment.submit_date|date:"Y-M-d H:i" }}
            </span>
            <span class="blu">
                <a href="#c{{ comment.id }}" data-comment-id="{{ comment.id }}" class="comment_reply_link">Reply</a>
            </span>
            <div>
                {{ comment.comment }}
            </div>
        </div>
        <div class="comments_line"></div>
        {% for close in comment.close %}</li></ul>{% endfor %}
    {% endfor %}
</div>
