{% extends "base.html" %}
{% load object_fields %}

{% block title %} Detail of {{ report.name }} {% endblock %}

{%block content %}
<div class="breadcrumb requirementDetailHome">
    <ul class="pull-left">
        <li>
        <a href="{% url requirement %}">{{ subtitle }}</a> <span class="divider">/</span>{{ report }}
        </li>
    </ul>
    <div class="clear"></div>
</div>
<div class="pd10">
    <section>
        <ul class="nav nav-tabs" id="myTab" data-tabs="tabs">
            <li class="active">
            <a class="click-trigger" url="{% url risk report|app_label report|module_name report.pk %}" id="riskRequest" href="#risk">
                Risk({{ report.risk.count }})
                <span class="small-text">(
                    Open
                    {{ report.open_status_risk.count }}
                    High
                    {{ report.high_probability_risk.count }}
                    )
                </span>
            </a>
            </li>
            <li class="">
            <a url="{% url issue report|app_label report|module_name report.pk %}" id="issueRequest" href="#issue">
                Issue({{ report.issue.count }})
                <span class="small-text">(
                    Open
                    {{ report.open_status_issue.count }}
                    High
                    {{ report.high_impact_issue.count }}
                    )
                </span>
            </a>
            </li>
            <li class=""><a id="historyRequest" href="#history" url="{% url requirement_history report.pk %}"> History({{ report.requirementhistory_set.count }})</a></li>
            <li class=""><a id="relatedDocumentRequest" href="#relatedDocument"> Related Document ({{ relate_docs.count }})</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="risk">
                {% include 'track/risk/risk.html' %}
            </div>
            <div class="tab-pane fade" id="issue">
                {% include 'track/issue/issue.html' %}
            </div>
            <div class="tab-pane fade" id="history">
            </div>
            <div class="tab-pane fade" id="relatedDocument">
                {% include "track/requirement/requirement-related-document.html" %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
