{% extends "base.html" %}

{% block title %} BRD/MRD/PRD {% endblock %}

{% block content %}
<div class="breadcrumb requirementHome">
    <ul class="pull-left">
        <li><a href="{% url requirement %}">{{ subtitle }}</a> <span class="divider">/</span></li>
    </ul>
    <div class="clear"></div>
</div>
<div class="pd10">
    <div class="classify">
        <input class="display-none search_url" value="{{ search_url }}"/>
        <input class="display-none current_filter" value=""/>
        <input class="display-none current_order" value=""/>
        <p class="clear">
        <a class="btn btn-danger new-query">Type</a>
        <a class="filter click-trigger" field="type__id">All</a>
        {% for type in types %}
        <a class="filter" value="{{ type.id }}" field="type__id">{{ type.name }} ({{ type.requirement_set.count }})</a>
        {% endfor %}
        </p>
        <div class="line"></div>
        <p class="clear">
        <a class="btn btn-danger new-query">Product</a>
        <a class="filter classify-active" field="product__id">All</a>
        {% for product in products %}
        <a class="filter" value="{{ product.id }}" field="product__id">{{ product.name }} ({{ product.requirement_set.count }})</a>
        {% endfor %}
        </p>
        <div class="line"></div>
        <p class="clear">
        <a class="btn btn-danger new-query">Status</a>
        <a class="filter classify-active" field="status__id">All</a>
        {% for status in statuss %}
        <a class="filter" value="{{ status.id }}" field="status__id">{{ status.name }} ({{ status.requirement_set.count }})</a>
        {% endfor %}
        </p>
        <div class="line"></div>
        <p class="clear">
        <a class="btn btn-danger new-query">Owner</a>
        <a class="filter classify-active" field="owner__id">All</a>
        {% for owner in owners %}
        <a class="filter" value="{{ owner.id }}" field="owner__id">{{ owner.name }} ({{ owner.requirement_set.count }})</a>
        {% endfor %}
        </p>
        <div class="line"></div>
        <table class="eso-table product-status-report">
            <thead>
                <tr>
                    <th colspan="10">
                        <a class=" btn fl-right" id="add">+ Add</a>
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr class="display-none" id="new">
                <td>
                    {% include "track/requirement/new-requirement.html" %}
                </td>
            </tr>
            <tr class="display-none" id="update">
                <td>
                    {% include "track/requirement/update-requirement.html" %}
                </td>
            </tr>
            <tr>
                <td>
                    <select class="chzn-select w100 num-per-page" tabindex="6">
                        <option value="10" selected="selected">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                        records per page
                </td>
            </tr>
            <tr>
                <td colspan="10" class="pd0">
                    <table id="example" class="eso-table table-striped datatable brd-table">
                        <thead>
                        <tr>
                            <th class="order" field="id">Number</th>
                            <th class="order" field="attachment__attachment_file">Name</th>
                            <th class="order" field="author">Author</th>
                            <th class="order" field="status">Status</th>
                            <th>Risk</th>
                            <th>Issue</th>
                            <th class="order" field="owner">Owner</th>
                            <th class="order" field="start_date">Start Date</th>
                            <th class="order" field="target_date">Target Date</th>
                            <th title="Actually finished time">AFD</th>
                        </tr>
                        </thead>
                        <tbody class="container">
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
