<div class="line risk-list-item" id="{{ report.pk }}">
    <span>Reporter:</span> {{report.reporter}}
    <span>Start Date:</span> {{ report.start_date|date:"m/d/Y" }}
    <span>Target Date:</span> {{ report.target_date|date:"m/d/Y" }}
    <span>impact:</span> {{ report.impact }}
    <span>probability:</span> {{ report.probability }}
    <span>Response:</span> {{ report.response }}
    <span>Status:</span> {{ report.status }}
    <a class="ico-show-all comments-btn" title="Show all" id="on">Comment</a>
    <a id="edit-risk-{{ report.pk }}" data-toggle="modal" class="btn btn-mini btn-success fl-right edit-risk" url ="{% url risk_update report.pk%}">Edit</a>
    <p>{{ report.description }}</p>
    <div class="display-none risk-li" id="update-risk-{{ report.pk }}">
    </div>
    <section class="mg-bottom display-none" id="comments-all">
        {% include "comments/comment.html" %}
    </section>
</div>
