{% load threadedcomments_tags %}

<div class="line" id="{{ report.pk }}">
    <span>Reporter:</span> {{report.reporter}}
    <span>Start Date:</span> {{ report.start_date|date:"m/d/Y" }}
    <span>Target Date:</span> {{ report.target_date|date:"m/d/Y" }}
    <span>impact:</span> {{ report.impact }}
    <span>probability:</span> {{ report.probability }}
    <span>Response:</span> {{ report.response }}
    <span>Status:</span> {{ report.status }}
    <a href="#c0" class="ico-show-all comments-btn" title="Show all" id="on">Comment</a>
    <a id="edit-risk-{{ report.pk }}" data-toggle="modal" class="btn btn-mini btn-success fl-right edit-risk" url ="{% url risk_update report.pk%}">Edit</a>
    <p>{{ report.description }}</p>
    <table class="eso-table product-status-report">
        <td class="display-none update-risk" id="update-{{ report.pk }}">
            {% include "track/risk/update-risk.html" %}
        </td>
    </table>
    <section class="mg-bottom display-none" id="comments-all">
        <fieldset class="fieldset-vault wrap_comments">
            <legend class="legend-vault img1 display-none turn-off">Turn Off Comments</legend>
            <legend class="legend-vault img2 turn-on">Turn On Comments</legend>
            {% render_comment_list for report %}
        </fieldset>
        {% render_comment_form for report %}
    </section>
</div>
