{% block content %}
 <body>
    <div class="content">
        <div class="pd10">
            <section>
                <div class="tab-pane active" id="risk">
                    <div class="clear">
                        <table class="eso-table product-status-report">
                            <a class=" btn fl-right" id="add" url="{% url risk_add app_label module_name pk %}">+ Create</a>
                                <td class="display-none" id="new">
                                </td>
                        </table>
                            <td>
                                {% include "track/risk/risk-list.html" %}
                            </td>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
{% endblock %}
