<div class="update-risk form-control">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" id="close-risk-1">×</button>
        <h3>Update Risk</h3>
    </div>
    <form class="form-horizontal" id="update-risk-form" action="{% url risk_update report.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'track/risk/risk-form-fields.html' %}
        <div class="modal-footer">
            <a class="btn btn-primary update-one-risk">Update</a>
            <a data-dismiss="modal" class="btn close2">Close</a>
        </div>
    </form>
</div>
