@charset "UTF-8";
/* CSS Document */


body{ background-color: #EaEaEa;}
#eso-topbar .logo{ color:#fff;}
#eso-topbar .quick-menu li a { color:#fff;}
.footer{ color:#fff;}
.eso-table th, .eso-table td{ vertical-align:middle; }
.navbar{ background:#333;  background-image: -moz-linear-gradient(top, #39001F, #000) ;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #000));}
.navbar .nav > li > a:after{ background-image: -moz-linear-gradient(center top , #50002C, #2A2628, #2A2628);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #484848), color-stop(0.5, #000),color-stop(1, #373737));}
.navbar .nav > li > a:before{background-image: -moz-linear-gradient(center top , #50002C, #2A2628, #2A2628);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #484848), color-stop(0.5, #000),color-stop(1, #373737));}
.navbar .nav:after{ background-image: none;}
.navbar .nav > li > a:hover {background-image: -moz-linear-gradient(top,  rgba(103, 0, 60, 0.3), #d40057); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(RGBA(214,0,23,0)), to(RGBA(77,77,77,1))); }
.eso-table tbody td a:link, .eso-table tbody td a:visited{ display:inline-block; width:auto;}
.navbar .nav > li > a:after{ width:0px;}
.navbar .nav .active > a, .navbar .nav .active > a:hover {background-image: -moz-linear-gradient(center top , rgba(103, 0, 60, 0.3), #d40057);}
.nonebg tr:nth-child(2n) td { background: none repeat scroll 0 0 #fff;}
.btn-small{ line-height:10px; padding:4px 5px; margin-left:5px;}
.leftdiv span{ margin-right:5px;}
.statuslist{ display:block; border-radius:4px; padding:4px 10px; color:#FFF; float:left; width:50px; text-align:center; cursor:pointer;}
.yellow{ background:#FF8718;}
.green{ background: #52953C;}
.red{ background:#CB423B;}
.scheduleg{ background-color:#F4FFF0!important; color:#52953C;}
.scheduler{ background-color:#FFF1F1!important; color:#CB423B;}
.yellowmean{ background:url(../images/yellow.png) left center no-repeat;  display:inline-block; padding:5px; padding-left:25px; margin-left:20px;}
.greenmean{ background:url(../images/green.png) left center no-repeat; padding-left:20px; padding:5px; padding-left:25px; margin-left:20px;}
.redmean{ background:url(../images/red.png) left center no-repeat; padding-left:20px; padding:5px; padding-left:25px; margin-left:20px;}
.ymean{ background:url(../images/y.png) left center no-repeat;  padding:5px; padding-left:25px; margin-left:20px;}
.gmean{ background:url(../images/g.png) left center no-repeat; padding-left:20px; padding:5px; padding-left:25px; margin-left:20px;}
.rmean{ background:url(../images/r.png) left center no-repeat; padding-left:20px; padding:5px; padding-left:25px; margin-left:20px;}
.meanout{ text-align:right; float:right; width:250px;}
.mgl20{ margin-left:20px; float:left;}
.btn{ margin-bottom:0px;}
.offbg{ background:none !important;}
.detailall{ margin:10px; padding:10px;}
.statuschart{border:0px solid #CCC; margin:0px 10px 10px 10px; padding:10px; width:97%; min-width:1200px;}
.statuschart ul{ text-decoration:none;  float:left; width:100%; margin:0; padding:0; }
.statuschart ul li{ list-style:none; float:left; width:33%; margin-right:5px;}
.statuschart ul li:last-child { margin-right:0px;}
.title{ float:left; margin-left:10px;}
.statuschart span{ display:block; float:right; height:26px; line-height:26px; color: #000; margin-right:10px;}
.w55{ width:55px;}
.opened{ background:url(../images/open.png) left center no-repeat; padding-left:20px; cursor:pointer;}
.w100{ width:100%; max-width:100%;}
.w200{ width:120px; float:left;}
.w160{ width:160px;}
.paddingtop10{ padding-top:10px!important;background:url(../images/close.png) right 11px no-repeat!important;}

.alldetaildiv{ border:2px solid;border-radius:4px; position:relative; margin-top:10px; padding:15px;}
.alldetaildiv table th{vertical-align:top;}
.displaynone{ display:none;}
.arrows{ width:10px; height:10px;position:absolute;  border-left:2px solid;border-top:2px solid;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg); background-color:#FFF;}
.greendiv{ border-color: #94CD81; }
.yellowdiv{ border-color:#FFC591;}
.reddiv{ border-color:#FF8388;}
.arrowsscope{ top:-8px; left:30px; border-color: #94CD81;}
.arrowsschedule{  top:-8px; left:104px; border-color: #FFC591;}
.arrowscost{  top:-8px; left:180px; border-color: #94CD81;}
.arrowsrisks{  top:-8px; left:253px; border-color: #FF8388;}
.arrowsquality{ top:-8px; left:328px; border-color: #94CD81;}

.colormeanbtnc{ background:url(../images/close.png) right center no-repeat; display: block; float:left; width:150px; padding: 4px 10px; padding-right:20px; cursor:pointer; position:relative;}
.colormeanbtno{ background:url(../images/open.png) right center no-repeat; display: block; float:left; width:150px; padding: 4px 10px; padding-right:20px;}
.colormean{ position:absolute; top:25px; left:-35px; background:#f9f9f9; border:1px ridge #fff; border-radius:4px; z-index:10; box-shadow:0px 0px 5px #999; display:none;}
.meanhome{ width:800px; height:200px; left:-60px; top:30px;}
.colormean ul{ list-style:none; margin:10px; padding:0; text-decoration:none;}
.colormean span{ margin-left:10px;}
.colormean ul li{ line-height:2em;}


.product{ display:block; border:dotted 1px #ccc;}
.product-green{ background:#f5f5f5; border:solid 2px #060}
.product-red{ background:#f5f5f5; border:solid 2px #F30}
.product a{ display:block; margin:5px 5px 0 5px; color:#000;}

ul.comment{ margin:10px;}
ul.comment li{ list-style:none} 
ul.comment li ul{ margin-left:20px;}

.current{ color:#090}
.gray{ color:#aaa;}
.bg-gray{ background-color:#aaa!important;}
.margin10{ margin:10px;}

.project-status-report{border:0px;}
.project-status-report .project-status{display:inline-block; width:51px; text-align:right; margin-right:17px; position:relative;}
.project-status-report .project-status-right{display:inline-block; position:relative;}
.project-status-report th .project-status{display:inline-block; width:49px; text-align:right; margin-right:17px; font-size:11px;}
.project-status-report th .project-status-right{display:inline-block; font-size:11px;}
.project-status-report th, .project-status-report td{border-right:0px;}
.project-status-report tbody tr td{background-color:#FFFFFF!important;}
.project-status-report tbody tr:last-child td,.project-status-report tbody tr td[rowspan]{border-bottom:2px solid #999999!important; }
.project-status-report tbody tr:first-child td:first-child{font-size:18px;}
.project-status-report .btn{position:relative; }
.project-status-report .project-status .warning, .project-status-report .project-status-right .warning{background:url('../images/information-balloon.png') no-repeat 0px 0px; display:block; width:16px; height:16px; position:absolute; top:-12px; left:12px;}
.project-status-report thead th{padding:3px 5px 2px 5px; vertical-align:middle;}
.project-status-report th.status-schedule{background:#F1F1F1 url('../images/Wireframe_039.png') no-repeat center; width:120px; font-weight:normal;}
.project-status-report th.status-budget{background:#F1F1F1 url('../images/Wireframe_065.png') no-repeat center; width:120px; font-weight:normal;}
.project-status-report th.status-scope{background:#F1F1F1 url('../images/Wireframe_231.png') no-repeat center; width:120px; font-weight:normal;}
.project-status-report td.td-comment{}
.project-status-report td.td-comment p{position:relative; margin-bottom:12px; color:#666666; width:100%; height:36px;}
.project-status-report td.td-comment p i{padding:0 3px 0 2px;}
.project-status-report .comment-action{position:absolute; right:0px; bottom:-16px}
.ico-reply{background:url('../images/comment-reply.gif') no-repeat 0px -1px; color:#aaaaaa; display:inline-block; width:20px!important; padding-left:20px; margin-right:3px; font-size:11px;}
.ico-comment{background:url('../images/comment-add.gif') no-repeat 0px 0px; color:#aaaaaa; display:inline-block; width:20px!important; margin-right:3px;}
.ico-show-all{background:url('../images/comment-list.gif') no-repeat 0px 0px; color:#aaaaaa; display:inline-block; width:20px!important; margin-right:3px; padding-left:20px; margin-left:10px; color:#F60;}
.ico-reply:hover, .ico-comment:hover, .ico-show-all:hover{text-decoration:none; color:#006699;}
.risk-issue{margin-bottom:68px;}
/*--add by xiaowang--*/
.risk-issue-list span{ margin-left:10px; color:#aaa;}
.line{ border-bottom:1px dashed #CCC; padding-bottom:5px; margin-bottom:10px; margin-left:10px; color: #0067D0;  }
.risk-issue p{ margin-left:10px;}
.risk-issue-list{ padding:10px; border:1px solid #eee; border-top:2px solid #ccc; margin-bottom:20px;}
.mg-left10{ margin-left:10px;}
.mg-bottom{ margin-bottom:0px;}
.detail-member{ width:300px; border-radius:0px 4px 4px 0px!important; background-color:#FFF!important;}
.{ border:1px solid #CCC; border-radius:4px; display: inline-block; padding:3px!important; width:62px!important; padding-left:25px!important; margin-left:20px; color:#000; background-color: #F6F6F6;}
.member-list th{ font-weight:normal!important; padding-left:10px!important; vertical-align:middle!important;}
.member-list td{ padding:10px!important;}
.w150{ width:120px!important;}
.width-issue{ width:73%!important;}
.pd10{ padding:10px;}
.classify{  margin:10px 0px; padding:20px 10px; border-top:4px solid #333; border-bottom:3px solid #666; background: #F4F4F4;}
/*.classify{ margin:10px 0px; padding:10px; background-color: #FBFBFB;box-shadow:0px 0px 4px #D5D5D5 inset; -moz-box-shadow:0px 0px 4px #D5D5D5 inset;  -webkit-box-shadow:0px 0px 4px #D5D5D5 inset; padding-top:20px;}*/
.classify p{ margin-bottom:0px;}
.classify a{ margin-left:10px; margin-bottom:5px; color: #00686F;}
.classify .new-query{  width:65px; background: #CFE7E9; border-radius:0px;  border-right: 4px solid #00686F; padding:2px 20px; color:#FFF; width:60px;}
.classify .btn{ padding:0px 6px;}
.classify-active{ background: #CFE7E9; color:#fff;  padding:1px 10px; border-bottom: 1px solid #00686F;}
/*--end--*/
.eso-table{width:100%!important;}
.ico-arrow{display:inline-block; position:absolute; bottom:-8px; left:0px; width:0px; height:0px; border:4px solid #FFFFFF; border-color:#FFFFFF transparent transparent transparent; border-style:solid dashed dashed dashed;}

.timeline{position:relative; margin-top:-40px;}
.timeline:first-child{margin-top:0px!important;}
.timeline .product-nav {
    float: left;
    width: 300px;
}
.timeline .background {
    margin-left: 300px;
	position: relative;
	overflow:hidden;
}
.timeline dl {
    display: inline-table;
    margin: 30px 0 0;
    width: 100%;
}
.timeline dt {
    background: url("../images/line-dotted-blue.png") repeat-x scroll 0 8px transparent;
    height: 14px;
    line-height: 14px;
    margin: 0 0 42px;
    position: relative;
}
.timeline dt a {
    background: url("../images/light-green.png") no-repeat scroll 0 2px #FFFFFF;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 0 3px 0 15px;
	display:inline-block;
}
.timeline address{
	font-style:italic;
	color:#999999;
}
.timeline dt address{
	font-weight:normal;
	padding-left:15px;
}
.timeline dd {
    background: url("../images/line-dotted-blue.png") repeat-x scroll 0 7px transparent;
    height: 14px;
    line-height: 14px;
    margin: 0 0 36px 21px;
    position: relative;
}
.timeline dd:last-child{margin-bottom:26px;}
.timeline dd a {
    background-color: #FFFFFF;
    color: black;
    font-size: 12px;
    text-decoration: none;
}
.timeline .background dd {
    margin-left: 0;
}
.timeline .progress {
    background-color: #F18D05;
    border: 2px solid #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 2px #999999;
    height: 12px;
    left: 0;
    line-height: 12px;
    position: absolute;
    z-index: 9;
}
.timeline .progress span {
    color: #000000;
    display: inline-block;
    font-size: 11px;
    height: 16px;
    line-height: 11px;
    padding: 0 6px;
    white-space: nowrap;
    z-index: 111;
	font-weight:normal;
}
.timeline .progress span.start {
    float: left;
	color:#FFFFFF;
	font-weight:bold;
}
.timeline .progress span.end {
    float: right;
	color:#FFFFFF;
	font-weight:bold;
	
}
.timeline .progress span.new, .timeline .progress span.close, .timeline .progress span.assigned, .timeline .progress span.needinfo, .timeline .progress span.closed{
    position: absolute;
    top: -16px;
	padding:0px;
}
.timeline dd .progress {
    background-color: #61AE24;
}
.timeline .q-bar {
    height: 18px;
    margin: 0;
    position: relative;
}
.timeline .q-bar li {
    color: #545454;
    float: left;
    font-size: 13px;
    text-align: center;
    width: 8%;
	list-style:none;
	margin:0px;
}
.timeline .y-bar {
    background-color: #FFFFFF;
    clear: both;
    height: 20px;
    padding-top: 3px;
    position: relative;
	margin:0px;
	
}
.timeline .y-bar li {
    color: #454545;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
	list-style:none;
	width:8%;
}
.timeline-BG-table {
    height: 3000px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.timeline-BG-table td {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #DDDDDD;
    width: 8%;
}
.timeline-BG-table td.current {
    background: none repeat scroll 0 0 #EAEAEA;
}
.nav-list {
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-list > li > a, .nav-list .nav-header {
    margin-left: -15px;
    margin-right: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-list > li > a {
    padding: 3px 15px;
}
.nav-list > .active > a, .nav-list > .active > a:hover {
    background-color: #0088CC;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.nav-list [class^="icon-"], .nav-list [class*=" icon-"] {
    margin-right: 2px;
}
.nav-list .divider {
    background-color: #E5E5E5;
    border-bottom: 1px solid #FFFFFF;
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
}
[class^="icon-"], [class*=" icon-"] {
    background-image: url("../images/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}
.icon-chevron-right {
    background-position: -456px -72px;
}
.product-basic-info{
	float:left;
}
.bs-docs-sidenav {
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin: 30px 0 0;
    padding: 0;
    width: 228px;
}
.bs-docs-sidenav > li > a {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}
.bs-docs-sidenav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
    border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}
.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}
.bs-docs-sidenav > li > a:hover {
    background-color: #F5F5F5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: 0.5;
}
.bs-docs-sidenav .active .icon-chevron-right, .bs-docs-sidenav .active a:hover .icon-chevron-right {
    background-image: url("../images/glyphicons-halflings-white.png");
    opacity: 1;
}
.bs-docs-sidenav.affix {
    top: 40px;
}
.bs-docs-sidenav.affix-bottom {
    bottom: 270px;
    position: absolute;
    top: auto;
}
.bs-docs-container {
    max-width: 970px;
}
.bs-docs-sidenav {
    width: 258px;
}
.bs-docs-sidenav > li > a {
}

.product-basic-info th{
	text-align:left;
	vertical-align:top;
	color:#999999;
	padding:4px 0 3px 0;
}
.product-basic-info td{
	padding:4px 0 3px 0;
}

.page-header{
	padding-bottom:5px;
}
.modal{
	width:570px;
}
.form-horizontal .control-label{
	text-align:right;
	width:100px;
	font-weight:bold;
	color:#666666;
}
.form-horizontal .controls {
    margin-left: 120px;
}
.form-horizontal .input-prepend{
	margin-bottom:9px;
	display:block;
}
.form-horizontal .input-prepend .add-on{
	width:110px;
}
.form-horizontal .btn-group {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}
.btn .caret {
    margin-left: 0;
    margin-top: 8px;
}
.caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
}
.input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child > .dropdown-toggle {
    border-radius: 0 4px 4px 0;
}
:-moz-placeholder{
	color:#AAAAAA;
}
.product-status-report{
	background-color:#FAFAFA;
}
.product-status-report td{
	background-color:#FFFFFF!important;
}

/*-----------comments----*/
.fieldset-vault{ border-width:1px 0 0 ; border-top:1px solid #ccc; padding:10px; padding-bottom:0px;}
.legend-vault{ cursor:pointer;width:auto; border-style:none; font-size:13px; margin-bottom:auto;  padding-left:16px;}
.img1{background: url("../images/arrow_expanded.png") no-repeat scroll 0 40% transparent;}
.img2{background: url("../images/arrow_collapsed.png") no-repeat scroll 0 40% transparent;}
.display-none{ display:none;}
.comments div:last-child{ border-bottom:none;}
.comments_list{ padding:10px; padding-left:20px; border-bottom: 1px solid #999; margin-bottom:10px; }
.commentd{background:url("../images/ico_comment.png") no-repeat scroll 0 10px transparent;}
.time{margin:0 10px; color:#999;}
.blu{ color:#006699; cursor:pointer;}
.comments_line{ padding-bottom:10px;   color: #999;}
.input-xlarge{ margin-bottom:0px;}
.clear{clear:both;}
.comments_list ul li:first-child{border-top:1px dotted #CCC;padding-top:10px;}
.comments_list ul li{ list-style:none;}
.comment-textarea{ width:99%;}


.delete{background:url(../images/btn-delete.png) no-repeat 0px 2px; width:16px!important; line-height:18px; height:18px; display: inline-block; float:left; margin-left:5px;}
.download{background:url(../images/downloads.png) no-repeat 0px 2px; width:16px!important; line-height:18px; height:18px; display: inline-block; float:left; margin-left:5px;}
.edit{background:url(../images/btn-edit.png) no-repeat 0px 2px; width:16px!important; line-height:18px; height:18px; display: inline-block; float:left; margin-left:5px;}
.fl-right{ float:right;}
.fl-left{ float: left;}
.mg-bottom0{ margin-bottom:0px!important;}
.orange{ color:#F60;}
.document-name a{ float:left; margin-left:10px;}
.prd{ background:url(../images/p.png) no-repeat left center; padding-left:20px; }
.brd{ background:url(../images/b.png) no-repeat left center; padding-left:20px; }
.mrd{ background:url(../images/m.png) no-repeat left center; padding-left:20px; }
.project{background:url(../images/project.png) no-repeat left center; padding-left:20px;}
.edit-info{ background:url(../images/edit.png) no-repeat left center; padding-left:20px;}

.max-height450{ max-height:500px;}
.view{background: url("../images/view.png") no-repeat scroll 0 2px transparent;display: inline-block;float: left;height: 18px;line-height: 18px;margin-left: 5px;width: 16px !important;}
.light-green{background: url("../images/light-green.png") no-repeat scroll 0 2px transparent;display: inline-block;float: left;height: 18px;line-height: 18px;margin-left: 5px; padding-left:20px;}
.light-red{background: url("../images/light-red.png") no-repeat scroll 0 2px transparent;display: inline-block;float: left;height: 18px;line-height: 18px;margin-left: 5px; padding-left:20px;}
.light-gray{background: url("../images/light-grey.png") no-repeat scroll 0 2px transparent;display: inline-block;float: left;height: 18px;line-height: 18px;margin-left: 5px; padding-left:20px;}
.light-yellow{background: url("../images/light-yellow.png") no-repeat scroll 0 2px transparent;display: inline-block;float: left;height: 18px;line-height: 18px;margin-left: 5px; padding-left:20px;}
.view-in{background: url("../images/view.png") no-repeat scroll 0 2px transparent;display: inline-block;float: left;height: 18px;line-height: 18px;margin-left: 5px;width: 16px !important;}
.mgb3{ margin-bottom:3px!important;}
.mgb20{ margin-bottom:20px!important;}
.font-big{ font-size:16px; color:#06C; }
.prev a, .active a{ margin-right:0px;}
.mg-top20{ margin-top:20px;}
.light-red a{ margin-right:0px;}
.light-green a{ margin-right:0px;}
.red-brd{ color:#C00;}
.row-fluid{ margin-top:10px; margin-bottom:10px;}
.dataTables_filter {}
.dataTables_length select{ margin:0;}
.dataTables_filter input{ height:15px!important; margin:0; }
.basic-th{ font-size:14px; color:#000!important;}
.mg-left40{ margin-left:120px;}
.modal-body { padding-left:0px;}
.fl-none{ float:none;}
.lin-height{ line-height:30px;}
.brd-table a.download{ float:right!important;}
.week-search{ margin-left:10px; margin-bottom:10px; cursor: pointer;}
.new-brd-form form{ width:480px; float:left;}
.new-brd{ background-color: ; border: solid 5px #999;}
.small-text{ font-size:10px; margin-left:5px; color: #06C;}
.edit-pj{ margin-top:5px; margin-left:10px;}
.w100{ width:100px;}
.w130{ width:130px;}
.w150{ width:150px;}
.w230{ width:230px;}
.w80{ width:80px;}
.time-left-green{ font-size:12px; font-weight:bold; color: #090;}
.time-left-red{ font-size:12px; font-weight:bold; color: #F00;}
.time-left-gray{ font-size:12px; font-weight:bold; color: #999;}
/*--picture roll--*/
.weekly ul{ list-style:none; margin:0; padding:0;}
.weekly ul li{ font-size:12px; display:block; background:#06F; float:left; margin:20px;}
.lxfscroll {
	width:400px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 20px;
	overflow: hidden;
	position: relative;
	height: 50px;
	border: 1px dashed #CCC;
}
.button {
	margin-right:auto;
	margin-left:auto;
	width:400px;
	text-align:center;
	padding-top: 10px;
}
i {
	color:#F00;
	font-weight:bold;
}
.button input {
	padding-top: 4px;
	padding-right: 12px;
	padding-bottom: 4px;
	padding-left: 12px;
}
.lxfscroll ul{ list-style:none!important; margin:0; padding:0;}
.lxfscroll>ul>li {
	height: 300px;
	width: 400px;
	text-align: center;
	line-height: 300px;
	position: absolute;
	font-weight: bold;
}
/*--datetable--*/
.datatable{border-bottom: none;border-left: none;border-radius: 0 0 0 0;border-right:none;margin-bottom: 10px;max-width: 100%;width: 100%;}
.datatable tr td:last-child,.datatable tr th:last-child{ border-right:none;}
.pd0{ padding:0px!important; padding-top:5px;}
.datatable input,.datatable select{ padding:0px!important; margin-bottom:0px!important;}
